<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HotFeed</title>
     <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
     <%= javascript_include_tag "application" %>
     <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script type="text/javascript">

     
     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
  </head>
  <body>
    <script src="../assets/js/bsa.js"></script>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            
          <h2 id="site-name"><%= link_to 'HotFeed', root_path  %></h2>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <li>
                <a href="/" class="break-hover"></a>
              </li>
              
          
              <li>
                <%= link_to 'Entertainment', entertainment_path, class: "entertainment"%>
              </li>
              <li>
                <%= link_to 'Animals', animal_path, class: "animal"%>
              </li>
              <li>
                <%= link_to 'DIY', diy_path, class: "diy"%>
              </li>
              <li>
                <%= link_to 'Rewind', rewind_path, class: "rewind"%>
              </li>
              <li>
                <%= link_to 'Politics', politics_path, class: "politics"%>
              </li>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <br>
            <br>
            <li>stay entertained.</li>
          </ul>

        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


<%= yield %>

</body>
</html>
